/* Fixed Header -----------------------------*/
.fixed_header {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	overflow: auto;
}

.fixed_header_content {
	box-sizing: border-box;
	float: right;
	padding: 5px 10% 5px 0;
	line-height: 70px;

	h4 {
		color: #000;
	}
}