/* Hidden Fixed Header -----------------------------*/
.hidden_fixed_header {
	z-index: 100;
	background-color: #fff;
	position: fixed;
	width: 100%;
	overflow: auto;
	height: 70px;
	transition: all 0.8s;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#change_opacity {
	opacity: 0;
}

.hidden_content_left {
	box-sizing: border-box;
	float: left;
	height: 70px;
	transition: all 1s;

	img {
		float: left;
		display: inline;
		vertical-align: center;
		height: 58px;
		width: auto; 
	}
}

#change_padding {
	padding: 5px 0 5px 30%;
}

h4 {
	transition: all 1s;
	float: left;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 4%;
	height: 60px;
	line-height: 60px;
	color: #a02400;
	display: inline-block;
}

#reveal_htext {
	opacity: 0;
}

.hidden_content_right {
	box-sizing: border-box;
	float: right;
	padding: 5px 10% 5px 0;
	line-height: 70px;

	h4 {
		color: #000;
	}
}