/* Hidden Fixed Header -----------------------------*/
.hidden_fixed_header {
	z-index: 100;
	background-color: #fff;
	position: fixed;
	width: 100%;
	overflow: auto;
	height: 70px;
	transition: all 0.8s;
	/*border-bottom: solid 2px #eee;*/
}

#change_opacity {
	opacity: 0;
}

.hidden_content_left {
	box-sizing: border-box;
	float: left;
	height: 70px;
	transition: all 1s;

	img {
		vertical-align: center;
		height: 58px;
		width: auto; 
	}
}

#change_padding {
	padding: 5px 0 5px 30%;
}

.hidden_content_right {
	box-sizing: border-box;
	float: right;
	padding: 0 10% 0 0;
	line-height: 70px;

	h4 {
		margin: 0;
	}
}